.container {
  /* width: 350px; */
  
  height: 350px;
  /* margin: auto; */
  background-color: white;
  background-size: cover;
  cursor: pointer;
  -webkit-box-shadow: 0 0 5px #000;
  box-shadow: 0 0 5px #000;
}
.overlay {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background: rgba(77, 77, 77, 0.9);
  color: white;
  opacity: 0;
  transition: all 0.5s;
  font-family: "Playfair Display", serif;
}
.items {
  letter-spacing: 3px;
  
}
.head {
 
  font-size: 2rem;
  width: 100%;
  line-height: 40px;
  transform: translateY(40px);
  transition: all 0.7s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart hr {
  display: block;
  width: 0;
  border: none;
  border-bottom: solid 2px #fef5df;
  bottom: 0;
  transition: all 0.5s;
}


.cart {
  font-size: 20px;
  opacity: 0;
  letter-spacing: 1px;
  font-family: "Lato", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(40px);
  transition: all 0.7s;
}

.cart a:hover {
  color: #b88b05;
}
.container:hover .overlay {
  opacity: 1;
}
.container:hover .overlay .head {
  transform: translateY(0px);
}
.container:hover .overlay hr {
  width: 100%;
  transition-delay: 0.4s;
}
.container:hover .overlay .price {
  transform: translateY(0px);
  transition-delay: 0.3s;
  opacity: 1;
}
.container:hover .overlay .cart {
  transform: translateY(0px);
  transition-delay: 0.6s;
  opacity: 1;
}
.productName {
  padding: 10px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}