.table {
  padding: 0 !important;
}
.action_update:hover {
  cursor: pointer;
  color: blue;
}
.action_delete:hover {
  cursor: pointer;
  color: red;
}
.tableContainer {
  overflow: auto;
  padding: 2rem;
  /* box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75); */
}
.title {
  @apply text-lg font-extrabold text-center md:text-left my-5;
  font-size: large;
  font-weight: 800;
  text-align: left;
}
@media screen and (max-width: 768px) {
  .title {
    text-align: center;
  }
}
.ellipsisTwoLines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
