.Product_Navbar_container {
  @apply border-b-2 border-secondary w-[80%] mx-auto flex justify-around items-baseline;
}
.navoptions {
  @apply flex justify-center items-center space-x-3 md:space-x-7 mt-10;
}
.navoption {
  @apply text-white text-sm md:text-xl;
}
.navoption a {
  @apply hover:text-secondary;
}
.searchbar {
  max-width: 100px;
  display: flex;
  margin-bottom: 1rem;
}
.searchButton {
  color: #b88b05;
  width: 40px;
  padding: 10px;
  border-bottom: 2px solid white;
}
.searchButton:hover {
  background-color: white;
}
.searchSection{
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: baseline;
  gap: 20px;
}
.Options:hover{
background-color: #b88b05;
color: aqua;
}
/* .selectOptions{
  color: white;
  background-color: blue;
}
.selectOptions:hover{
  background-color:black;
  color: white;
} */
.searchbar input {
  border-bottom: 2px solid white;
  padding: 5px;
  background-color: black;
  color: white;
  outline: none;
}
@media screen and (max-width: 900px) {
  .Product_Navbar_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  .searchbar {
    max-width: 100%;
  }
}
@media screen and (max-width:496px) {
  .searchbar input{
    max-width: 100%;
  }
  .select{
    width: 75%;
  }
  .category_selectMenu{
    margin-top: 10px;
    width: 75%;
  }
  .searchSection{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
}