.cardContainer {
  width: 80%;
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  /* min-height: 570px; */
}
.paginate {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: white;
}
.active {
  color: #b88b05;
}
