.submitbtn{
    background-color: #b88b05 !important;
    color: white !important;
    border: none !important;
}
.editbtn{
    color: black !important;
}
.editbtn:hover{
    /* border: none !important; */
    border: black !important;
    color: black !important;
}
.btnContainer{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}
.disabled{
    background-color: white !important;
    color: gray !important;
}