.table_img {
  width: 80px;
  height: 50px;
}
.modal Button:hover {
  background-color: #b88b05 !important;
  color: white !important;
  border: none !important;
}
.modal {
  width: 100vw;
  height: 100vh;
}
table {
  padding: 0 !important;
}
.title {
  @apply text-lg font-extrabold text-center md:text-left my-5;
}
.action_link {
  color: black;
  cursor: pointer;
}
.action_link_delete {
  cursor: pointer;
}
.action_link_delete:hover {
  color: red;
}
.action_link:hover {
  @apply text-secondary;
}
.tableContainer {
  overflow: auto;
  padding: 2rem;
}
