.contentStyle {
  height: 400px;
  background-color: #eee;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}
.owl-nav {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
  margin-top: 5px;
  color: black;
  width: 30px;
}
.owl-next.disabled,
.owl-prev.disabled {
  opacity: 0.3 !important;
  /* display: none !important; */
}
