.dropdown {
  color: #fff;
  position: relative;
  /* display: flex; */
  place-content: center;
  background-color: black;
  height: 100vh;
  padding: 5rem;
  border-radius: 5px;

  /* width: 100vw;/ */
}
.dropdown__select {
  display: flex;
  padding-top: 0rem;
position: absolute;
overflow: hidden;
  z-index: 99;
  cursor: pointer;
  flex-direction: column;
}
.dropdown__select_option {
  /* position: absolute; */
  padding: 1rem;
  border-radius: 5px;
  border-bottom: 1px solid #000;
  /* position: absolute; */
}
.dropdown__select_option:hover {
  background-color: #b88b05;
}
.dropdown__filter {
  width: 100%;
  margin: 0 auto;
  max-width: 500px;
  border-radius: 5px;
  background-color: #2e2e2e !important;
  cursor: pointer;
}
.dropdown__filter_selected {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
