.mainContainer {
  @apply w-[100vw] h-[100vh];
}
.productDetailContainer {
  @apply w-[100%] md:w-[80%] flex justify-center items-center gap-10 flex-wrap md:flex-nowrap mx-auto my-5 px-5;
}
.detailsContainer {
  @apply flex flex-col justify-center items-start
   gap-5;
}
.imageContainer {
  border-radius: 50%;
  width: 60%;
}
.image {
  border-radius: 50%;
  width: 100%;

  /* padding: 2rem; */
  border: 30px solid #e7ebf0;
}
