.homeContainer {
  position: relative;
  /* min-height: 400px; */
}
.Title {
  position: absolute;
  top: 250px;
  width: 100%;
  margin: 0 auto;
  z-index: 11;
}
.overlay {
  background-color: #0000006b;
  width: 100%;
  z-index: 10;
  height: 100%;
  position: absolute;
  top: 0;
}
@media screen and (max-width:500px) {
  .Title{
    top:120px
  }
}
