.homeContainer {
  position: relative;
  min-height: 750px;
}
.Title {
  position: absolute;
  top: 250px;
  width: 100%;
  margin: 0 auto;
  z-index: 11;
}
.overlay {
  background-color: var(--color-ternary);
  opacity: 0.3;
  width: 100%;
  z-index: 10;
  height: 100%;
  position: absolute;
  top: 0;
}
@media screen and (max-width: 550px) {
  .Title {
    top: 120px;
  }
}
@media screen and (max-width: 1150px) {
  .homeContainer {
    min-height: 0;
  }
}
