.title {
  background: none;
  width: 10ch;
  animation: type 2.5s steps(25), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 5px solid;
  color: lightgreen;
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;
  place-items: center;
}
.O {
  @apply text-secondary;
}
@keyframes type {
  from {
    width: 0%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
.title {
  @apply text-[10vw] md:text-[6vw] text-white;
  font-weight: 700;
}
.title_and_button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.btn {
  background-color: white;
  
  padding: 7px 13px;
  transition: all 0.3s;
  border-radius: 5%;
  @apply text-primary
}
.btn:hover {
  background-color: #b88b05;
  color: white;
}
@media screen and (max-width: 500px) {
  .btn {
    padding: 2px 5px;
  }
}
