.title {
  background: none;
  width: 12.5ch;
  animation: type 2.5s steps(13), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 5px solid;
  color: lightgreen;
  font-family: Inconsolata;
  font-size: 30px;
  place-items: center;
}

@keyframes type {
  from {
    width: 0%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
.title {
  @apply text-6xl text-white;
  font-weight: 700;
}
.title_and_button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.button {
  width: 100px;
  background-color: white;
  color: black;
  transition: all 0.3s;
  padding: 10px;
}
.button:hover {
  background-color: #b88b05;
  color: white;
}
