@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root[data-theme="blue"] {
    --color-primary: #d7d8e4;
    --color-secondary: #6e6ce0;
    --color-ternary: gray;
  }
  :root[data-theme="pink"] {
    --color-secondary: #e66060;
    --color-primary: #f7e6e6;
    --color-ternary: gray;
  }
}

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
}
html {
  scroll-behavior: smooth;
}
